<mat-card style="width: fit-content; margin: 35px;">
  <div class="container">
    <h1>Create New Task</h1>
    <form [formGroup]="form" class="d-flex flex-column" (ngSubmit)="Submit()">
      <mat-form-field style="width: fit-content;" appearance="fill">
        <mat-label>Name</mat-label>
        <input formControlName="name" matInput placeholder="Placeholder">
      </mat-form-field>
      <mat-form-field  style="width: fit-content;" appearance="fill">
        <mat-label>Choose a Category</mat-label>
        <mat-select formControlName="categoryId">
          <mat-option *ngFor="let category of categories; let i = index" value={{category.id}}> {{category.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p style="margin: 35px 20px 0 0;">Choose a Team Member</p>
      <div class="member">
        <section class="example-section" *ngFor="let member of members">
          <mat-checkbox
          class="example-margin px-3"
          (change)="addTeamMember(member, $event.checked)" 
          ></mat-checkbox>
          <!-- angular-material picture from members avatar -->
          <img [src]="member.avatar" alt="{{ member.name }}" width="64" height="64">
          <span>{{member.name}}</span>
        </section>
      </div>
        <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
        <p >
          <img [src]="url" *ngIf="url" style="height: 64px; width: 64px; padding-right: 5px;">
          <input type="file" (change)="selectFile($event)" style="vertical-align: bottom;">
        </p>
      <div>
        <button mat-raised-button color="accent" type="submit">Create</button>
      </div>
    </form>
  </div>
</mat-card>