.btn-circle.btn-xl {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    align-items: center;
    background-color: rgb(218, 72, 96);
    color: white;
}

.td-avatar {
    height: auto;
    width: 50px;

}

.grid-container {
    display: grid;
    column-gap: 50px;
    grid-template-columns: auto auto auto;
    background-color: #2196F3;
    padding: 10px;
  }
  
  .grid-item {
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 0px;
    font-size: 0px;
    text-align: center;
  }